body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme='compact'] .ant-advanced-search-form,
.ant-advanced-search-form {
  padding: 24px !important;
  background: #fbfbfb;
  border-radius: 2px;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
  display: flex;
}

[data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
.ant-advanced-search-form .ant-form-item-control-wrapper {
  flex: 1;
}

.post-image{
  width: 100%;
  max-width: 300px;
  display: table;
  margin: auto;
  margin-bottom: 20px;
}

.post{
  max-width: 800px;
  margin-bottom: 30px !important;
}

.header{
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header > ul.ant-menu{
}

.sidebar{
  z-index: 1;
  position: fixed;
  top: 60px;
  width: 256px;
}

.sidebar > ul.ant-menu{
  height: 100vh;
}

.site-layout{
  transition: .3s;
  padding-left: 256px;
}
.site-layout.collapsed{
  transition: .3s;
  padding-left: 80px;
}

.header{
  background-color: #FFFFFF !important;
}

.header .logo{
  margin-left: 10px;
}

.toggler-icon{
  top:4px;
  cursor: pointer;
  position: absolute;
  color: rgba(0,0,0,0.5);
  transition: .3s;
  left: 22px;
}
.toggler-icon.collapsed{
  transition: .3s;
  left: 28px;
}

.ant-input-group-compact{
  display: flex !important;
}